{% extends "layout.html" %}
{% block content %}

        <div class="row">
            <div class="filter">
                <form>
                    <label id="filter_by">Filter by date</label>
                    <div><label for="from">from:</label>
                    <input type="date" id="from" name="from"></div>
                    <div><label for="to">to:</label>
                    <input type="date" id="to" name="to"></div>
                </form>
                <a class="btn refresh-btn">Refresh</a>
            </div>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="column-id">Id</th>
                        <th class="column-f-name">First name</th>
                        <th class="column-l-name">Last name</th>
                        <th class="column-email">Email</th>
                        <th class="column-phone">Phone</th>
                        <th class="column-orders">Orders</th>
                        <th class="column-registration">Registration</th>
                        <th class="column-edit"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Peter</td>
                        <td>Parker</td>
                        <td>spiderman@gmail.com</td>
                        <td>+12345612345</td>
                        <td>5</td>
                        <td>18/01/2023</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_client.html"><i class="fa-solid fa-gear"></i></a></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Joel</td>
                        <td>Miller</td>
                        <td>thelastjoel@gmail.com</td>
                        <td>+12323232323</td>
                        <td>1</td>
                        <td>03/02/2023</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_client.html"><i class="fa-solid fa-gear"></i></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Johnny</td>
                        <td>Silverhand</td>
                        <td>samurai@gmail.com</td>
                        <td>+12077207720</td>
                        <td>2</td>
                        <td>20/08/2023</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_client.html"><i class="fa-solid fa-gear"></i></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

{% endblock %}