{% extends "layout.html" %}
{% block content %}
            <div class="center">
                <form class="edit-form">
                        <div class="block">
                            <label for="fname"> Name </label>
                            <input type="text" name="fname">
                        </div>
                        <div class="block">
                            <label for="category"> Category</label>
                            <input type="text" name="category">
                        </div>
                        <div class="block">
                            <label for="year"> Year</label>
                            <input type="number" name="year">
                        </div>
                        <div id="price-amount">
                            <div class="block">
                                <label for="price"> Price</label>
                                <input type="number" class="number-input" name="price">
                            </div>
                            <div class="block">
                                <label for="amount"> Amount</label>
                                <input type="number" class="number-input" name="amount">
                            </div>
                        </div>
                        <div class="edit">
                            <input class="cancel" type="submit" name="action" value="Cancel">
                            <input class="save" type="submit" name="action" value="Save">
                        </div>
            </form>
        </div>


</body>
{% endblock %}