{% extends "layout.html" %}
{% block content %}

        <div class="row">
            <div class="filter">
                <form>
                    <label id="filter_by">Filter by price</label>
                    <div><label for="from">from:</label>
                    <input type="number" id="from" name="from"></div>
                    <div><label for="to">to:</label>
                    <input type="number" id="to" name="to"></div>
                </form>
                <a class="btn refresh-btn">Refresh</a>
            </div>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="column-id">Id</th>
                        <th class="column-name">Name</th>
                        <th class="column-price">Price</th>
                        <th class="column-category">Category</th>
                        <th class="column-year">Year</th>
                        <th class="column-amount">Amount</th>
                        <th class="column-edit"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Smartphone Q2</td>
                        <td>200</td>
                        <td>Phones</td>
                        <td>2022</td>
                        <td>25</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_product.html"><i class="fa-solid fa-gear"></i></a></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Laptop SM234</td>
                        <td>1150</td>
                        <td>Laptops</td>
                        <td>2022</td>
                        <td>13</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_product.html"><i class="fa-solid fa-gear"></i></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Smartphone BM3</td>
                        <td>240</td>
                        <td>Phones</td>
                        <td>2023</td>
                        <td>31</td>
                        <td class="edit-row"><a href="#"><i class="fa-solid fa-trash-can"></i></a><a href="edit_product.html"><i class="fa-solid fa-gear"></i></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

{% endblock %}