{% extends "layout.html" %}
{% block content %}

        <div class="row">
                <form name="Filter", class="filter-form">
                    <div class="filter">
                    <label id="filter_by">Filter by date</label>
                    <span>{{ form.date_from.label }}
                        {{ form.date_from }}</span>
                    <span>{{ form.date_to.label }}
                    {{ form.date_to }}</span>
                        </div>
                    {{ form.refresh(class_="btn refresh-btn") }}

                </form>

        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="column-id">Id</th>
                        <th class="column-f-name">First name</th>
                        <th class="column-l-name">Last name</th>
                        <th class="column-email">Email</th>
                        <th class="column-phone">Phone</th>
                        <th class="column-orders">Orders</th>
                        <th class="column-registration">Registration</th>
                        <th class="column-edit"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.first_name }}</td>
                        <td>{{ item.last_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.orders|length }}</td>
                        <td>{{ item.date }}</td>
                        <td class="edit-row"><a href="{{ url_for('bp.delete_client', id=item.id) }}"><i class="fa-solid fa-trash-can"></i></a>
                            <a href="{{ url_for('bp.edit_client', id=item.id) }}"><i class="fa-solid fa-gear"></i></a></td>
                    {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

{% endblock %}

