{% extends "layout.html" %}
{% block content %}

        <div class="row">
            <div class="filter">
                <form>
                    <label id="filter_by">Filter by date</label>
                    <div><label for="from">from:</label>
                    <input type="date" id="from" name="from"></div>
                    <div><label for="to">to:</label>
                    <input type="date" id="to" name="to"></div>
                </form>
                <a class="btn refresh-btn">Refresh</a>
            </div>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="column-id">Id</th>
                        <th class="column-f-name">First name</th>
                        <th class="column-l-name">Last name</th>
                        <th class="column-email">Email</th>
                        <th class="column-phone">Phone</th>
                        <th class="column-orders">Orders</th>
                        <th class="column-registration">Registration</th>
                        <th class="column-edit"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, len) %}
                    <tr>
                        <td>{{ data[i].id }}</td>
                        <td>{{ data[i].first_name }}</td>
                        <td>{{ data[i].last_name }}</td>
                        <td>{{ data[i].email }}</td>
                        <td>{{ data[i].phone }}</td>
                        <td>{{ orders[i] }}</td>
                        <td>{{ data[i].date }}</td>
                        <td class="edit-row"><a href="{{ url_for('bp.delete_client', id=data[i].id) }}"><i class="fa-solid fa-trash-can"></i></a><a href="edit_client.html"><i class="fa-solid fa-gear"></i></a></td>
                    {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

{% endblock %}

