{% extends "layout.html" %}
{% block content %}
            <div class="center">
                <form class="edit-form" name="Create product" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="block">
                            {{ form.name.label }}
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="block">
                            {{ form.category.label }}
                            {{ form.category }}
                            {% for error in form.category.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="block">
                            {{ form.year.label }}
                            {{ form.year }}
                            {% for error in form.year.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div id="price-amount">
                            <div class="block">
                                {{ form.cost.label }}
                                {{ form.cost }}
                                {% for error in form.cost.errors %}
                                    <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="block">
                                {{ form.amount.label }}
                                {{ form.amount }}
                                {% for error in form.amount.errors %}
                                    <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="edit">
                            {{ form.cancel( class_="cancel") }}
                            {{ form.submit( class_="save" ) }}
                        </div>
            </form>
        </div>


</body>
{% endblock %}