{% extends "layout.html" %}
{% block content %}

            <div class="center">
                <form class="edit-form">
                    <div class="block">
                        <label for="fname"> First name</label>
                        <input type="text" name="fname">
                    </div>
                    <div class="block">
                        <label for="lname"> Last name</label>
                        <input type="text" name="lname">
                    </div>
                    <div class="block">
                        <label for="email"> Email</label>
                        <input type="email" name="email">
                    </div>
                    <div class="block">
                        <label for="phone"> Phone</label>
                        <input type="text" name="phone">
                    </div>
                    <div class="edit">
                        <input class="cancel" type="submit" name="action" value="Cancel">
                        <input class="save" type="submit" name="action" value="Save">
                    </div>
            </form>
        </div>


</body>
{% endblock %}