<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <link type= "text/css" href= "../static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3f636a5948.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1 id="Management">Management page</h1>
    <div class="main_block">

        <div class="menu">
            <div class="left-side">
                <a class="btn   {% if page=="client" %} active-menu-btn"
                                {% else %} menu-btn"
                                {% endif %}
                href="{{ url_for('bp.clients') }}">Clients</a>
                <a class="btn   {% if page=="order" %} active-menu-btn"
                                {% else %} menu-btn"
                                {% endif %} href="{{ url_for('bp.orders') }}">Orders</a>
                <a class="btn   {% if page=="product" %} active-menu-btn"
                                {% else %} menu-btn"
                                {% endif %} href="{{ url_for('bp.products') }}">Products</a>
            </div>

            <div class="right-side">
                {% if type!="new" %}
                    <a class="btn new-btn" href="new_{{ page }}">New</a>
                {% endif %}
            </div>

        </div>
{% block content %}
{% endblock %}

</html>